
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav{
    background-color: rgb(247, 235, 70);
    padding: 0 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}
.nav__logo{
    height: 60px;
    background: white;

}
.nav__img{
    height: 100%;

}

.nav__link{
    color: black;
    padding: 5px;
    text-decoration: none;
}

.imagenes img{
    width: 100%;
    vertical-align: top;
    height: 60;
    grid-gap: 30%;
}
.lista{
    text-decoration:underline;
    text-align: center;
}
 

.block{ color: rgb(192, 240, 1); }
.block__element{ color: inherit; }
.block__element--modifier{ color: inherit; }


.item{ color: inherit; }
.item--modifier{ color: inherit; }
.item__element{ color: inherit; }
.item__element--modifier{ color: inherit; }
.item__another-element{ color: inherit; }